* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    
    
}

h1 {
    font-size: 5rem;
    word-spacing: 0.2em;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    line-height: 1.5em;
}

/* UTILITY */

.container1500 {
    width: 1500px;
    margin: 0 auto;
}

.container1100 {
    width: 1100px;
    margin: 0 auto;
}

.display-inlineblock{
    display: inline-block;
}

.relative {
    position: relative;
}

.centered {
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.pb20 {
    padding-bottom: 20px;
}


.list {
    list-style: none;
}

.float-sx {
    float: left;

}

.float-dx {
    float: right;
}

.btn-colored {
    background-color: rgb(19, 153, 197);
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: .5rem 1rem;
}

.link {
    text-decoration: none;
    display: inline-block;
}

.bordered {
    border: 1px solid grey;
}

/* HEADER */



.link-logo {
    height: 82px;
    line-height: 3.8rem;
}

.img-logo{
    vertical-align: middle;
}

.nav-sx li {
    float: left;
    padding: 1.5rem 0.8em;
}

.nav-dx li {
    float: right;
    padding: 1.5rem .8em;
}


.link-nav {
    padding: .5rem 1rem;
    text-decoration: none;
    display: inline-block;
}



/* section-header (prima sezione colorato sotto l'header)*/

.section-header {
    background-color: lightblue;
}

.col500{
    width: 35%;
}

.col500 .btn-colored{
    margin-top: 2rem;
}

.bi-cloud-download-fill{
    display: block;
    width: 3rem;
    height: 3rem;
    margin-top: 2rem;
}

.col1000{
    width: 65%;
    height: 450px;
}

.link-section-header {
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.col1000 img{
    width: 850px;
    height: 510px;
    position: absolute;
    right: 0;
    top: 0;
}

/* sezione "trova il piano che fa per te" */

.section-plans {
    padding-top: 8rem;
}

.circle {
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    
}

.container-radiobuttons{
    line-height: 1.5;
    vertical-align: middle;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.container-radiobuttons span {
    padding-right: 0.4em;
}

.plan-card {
    width: calc(33% - 2rem);
    border: 1px solid gray;
    
}

.container-card-text {
    line-height: 2rem;
}


.container-content-card {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.plan-card .btn-colored{
    display: block;
    
}

.card-middle {
    margin-left: 3.3rem;
}


.col80{
    width: 80%;
}