* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    
}

/* UTILITY */


.relative {
    position: relative;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.float-sx {
    float: left;

}

.float-dx {
    float: right;
}

.btn-colored {
    background-color: rgb(19, 153, 197);
}

/* header */

header.top-page{
    line-height: 3em;
}


.nav-sx li {
    float: left;
}

.nav-dx li {
    float: right;
}


.list {
    list-style: none;
}

.link-nav {
    margin: 1em;
    text-decoration: none;
    display: inline-block;
}

.img-logo{
    vertical-align: middle;
}