* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    
    
}

h1 {
    font-size: 5rem;
    word-spacing: 0.2em;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    padding: 1em 0;
}

p {
    line-height: 1.5em;
}

/* UTILITY */

.container1500 {
    width: 1500px;
    margin: 0 auto;
}

.container1100 {
    width: 1100px;
    margin: 0 auto;
}

.display-inlineblock{
    display: inline-block;
}

.relative {
    position: relative;
}

.centered {
    text-align: center;
}

.margin-auto{
    margin: 0 auto;
}

.bordered-grey {
    border: 1px solid lightgray;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.pt20 {
    padding-top: 20px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb100{
    padding-bottom: 100px;
}

.list {
    list-style: none;
}

.float-sx {
    float: left;

}

.float-dx {
    float: right;
}

.btn-colored {
    background-color: rgb(19, 153, 197);
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: .5rem 1rem;
}

.link {
    text-decoration: none;
    display: inline-block;
}

.bordered {
    border: 1px solid grey;
}

/* HEADER */



.link-logo {
    height: 82px;
    line-height: 3.8rem;
}

.img-logo{
    vertical-align: middle;
}

.nav-sx li {
    float: left;
    padding: 1.5rem 0.8em;
}

.nav-dx li {
    float: right;
    padding: 1.5rem .8em;
}


.link-nav {
    padding: .5rem 1rem;
    text-decoration: none;
    display: inline-block;
}



/* section-header (prima sezione colorato sotto l'header)*/

.section-header {
    background-color: lightblue;
}

.col500{
    width: 35%;
}

.col500 .btn-colored{
    margin-top: 2rem;
}

.bi-cloud-download-fill{
    display: block;
    width: 3rem;
    height: 3rem;
    margin-top: 2rem;
}

.col1000{
    width: 65%;
    height: 450px;
}

.link-section-header {
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.col1000 img{
    width: 850px;
    height: 510px;
    position: absolute;
    right: 0;
    top: 0;
}

/* sezione "trova il piano che fa per te" */

.section-plans {
    padding-top: 8rem;
}

.circle {
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    
}

.container-radiobuttons{
    line-height: 1.5;
    vertical-align: middle;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.container-radiobuttons span {
    padding-right: 0.4em;
}

.plan-card {
    width: calc(33% - 2rem);
    border: 1px solid gray;
    
}

.container-card-text {
    line-height: 2rem;
}

.container-card-text h3{
    padding-top: 2rem;
    padding-bottom: .5rem;
}

.container-content-card {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.plan-card .btn-colored{
    display: block;
    
}

.card-middle {
    margin-left: 3.3rem;
}

.top-content-card {
    position: relative;
}

.col-card{
    width: calc(100% - 25px)
}

.list-section-plan::before{
    content: '';
    display: inline-block;
    width: 6px;
    height: 12px;
    border: solid blue;
    border-width: 0 2.5px 2.5px 0;
    transform: rotate(45deg);

    
}

.section-plan-highlights{
    width: calc(100% - 15px);
    float: right;

}

/* sezione enterprise */

.enterprise-text{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.section-enterprise .btn-colored{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.section-find-partner .col{
    width: 400px;
    height: 400px;
}

.img-partner{
    object-fit: cover;
    width: 600px;
}

/* sezione dropbpx features */

.card-feature {
    width: calc(34% - 4em);
    float: left;
}

.card-feature img {
    width: 100%;
}

.card-feature-middle {
    margin: 0 4em;
}

.dropbox-features .row-top {
    padding-bottom: 80px;
}

/* footer main */

.footer-main a{
    display: inline-block;
    margin: 2em 0;
}



/* sezione con loghi aziende */


.container-col-brands {
    width: 400px;

}


.top-brands, .bottom-brands{
    height: 50%;
}


.img-brand {
    width: 100px;
    height: 70px;
    
    
}

.container-img-brand{
    padding: 2em;
    width: 200px;
    height: 200px;
}

.designit{
    background-color: red;
}

.arizona{
    background-color: yellow;
}

.florida{
    background-color: green;

}

.topps{
    background-color: hotpink;
}

.container-text-brand{
    width: calc(100% - 800px);
    height: 400px;
    padding: 3em;
    background-color: lightgray;
    
}

.col-brands-dx{
    position: absolute;
    top: 0;
    right: 0;
}


/* sezione colorata inizia prova gratuita */


.section-free-trial{
    background-color: lightblue;
}

.section-free-trial h2{
    padding: 8rem 0;
    display: inline-block;
    color: purple;
    
}

.section-free-trial a {
    margin: 8rem 0;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: white;
    color: black;
}


/* sezione domande frequenti */


.list-faq {
    padding-top: 8rem;
}

.list-faq h2 {
    padding-bottom: 3rem;
}

.list-faq li {
    line-height: 5em;
    border-bottom: 1px solid gray ;
}

.faq::after {
    content: "\02C5";
    float: right;
}